.registration__form {
    margin-top: 30px;
}

.login__fields {
    margin-bottom: 20px;
}

.submit__block button {
    height: 40px;
    width: 20%;

    background-color: #222222;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.submit__block button:hover {
    background-color: #111111;
    cursor: pointer;
}