.nav {
    /* grid-area: n; */
    /* border: 3px solid rgb(255, 178, 63); */
    /* background-color: rgb(243, 185, 97); */
    margin: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
}

.item {
    /* margin-left: 10px; */
    color: #c0c0c0;
    text-decoration: none;
    text-transform: uppercase;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 14px;
    margin-right: 15px;
}

.item:hover {
    color: #8f8e8e;
}

.item .active {
    text-decoration: none;
    color: #8f8e8e;
    margin-right: 15px;

}